---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="GpbRGkzwp9LdYwKhZ3xX1sBj4", oauth_nonce="fcedc9b8f51120071f307d8dec1c7238",
        oauth_signature="XHKPr%2FVxvGNWuOpoXXh8%2BeXkSX4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446096207", oauth_token="2359775539-t86oIVjlNDR4xi9fmS2j8LLW7oos7YeMAVmwCGV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 05:23:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fbf294db9435115db9cd9e7dbd625b22
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1446096611'
      X-Response-Time:
      - '48'
      X-Transaction:
      - fc08034b5ae97b66
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Oct 29 05:20:35 +0000 2015","id":659600694824067072,"id_str":"659600694824067072","text":"The
        critics'' early take on the GOP debate: Rubio won, and CNBC lost https:\/\/t.co\/ox4Ods10gD","source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":807095,"id_str":"807095","name":"The
        New York Times","screen_name":"nytimes","location":"New York City","description":"Where
        the conversation begins. Follow for breaking news, special reports, RTs of
        our journalists and more from http:\/\/t.co\/YapuoqX0HS","url":"http:\/\/t.co\/ahvuWqicF9","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ahvuWqicF9","expanded_url":"http:\/\/www.nytimes.com\/","display_url":"nytimes.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/YapuoqX0HS","expanded_url":"http:\/\/NYTimes.com","display_url":"NYTimes.com","indices":[111,133]}]}},"protected":false,"followers_count":20772874,"friends_count":990,"listed_count":167994,"created_at":"Fri
        Mar 02 20:41:42 +0000 2007","favourites_count":7867,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":204568,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/736339684\/948f072cc2da4e3a5e9f2ebfb3b1a0e7.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2044921128\/finals_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2044921128\/finals_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/807095\/1355346050","profile_link_color":"607696","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":20,"favorite_count":22,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/ox4Ods10gD","expanded_url":"http:\/\/nyti.ms\/1XAx3HT","display_url":"nyti.ms\/1XAx3HT","indices":[68,91]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Oct 29 05:17:01 +0000 2015","id":659599800254537728,"id_str":"659599800254537728","text":"Review:
        The Keurig Kold https:\/\/t.co\/Zas3oM5H1S https:\/\/t.co\/CV4erymvDo","source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":n[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="GpbRGkzwp9LdYwKhZ3xX1sBj4", oauth_nonce="b6223456cb689a77805e9e65aee8fb0d",
        oauth_signature="qIwTVClUm%2FHQNPPT1rmiwdYXOb0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446096208", oauth_token="2359775539-t86oIVjlNDR4xi9fmS2j8LLW7oos7YeMAVmwCGV",
        [...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=test
    headers:
      Authorization:
      - OAuth oauth_consumer_key="GpbRGkzwp9LdYwKhZ3xX1sBj4", oauth_nonce="47b9412dff1c774015413843710040f4",
        oauth_signature="SNPCjlBqQTPjy2q6wpGyKhYQ%2BFg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446096208", oauth_token="2359775539-t86oIVjlNDR4xi9fmS2j8LLW7oos7YeMAVmwCGV",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 05:23:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 65c4c156ee39f63bb5fdbf481f51cd13
      X-Response-Time:
      - '80'
      X-Transaction:
      - 5445c223cac099a8
      X-Tsa-Request-Body-Time:
      - '7'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Thu Oct 29 05:23:28 +0000 2015","id":659601423718416384,"id_str":"659601423718416384","text":"test","source":"\u003ca
        href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eChatterboxes Development\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_[...]
[...]
