---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="GpbRGkzwp9LdYwKhZ3xX1sBj4", oauth_nonce="8429e123f56ec41dd4d1c6090ee2ed72",
        oauth_signature="2i8204RAF1oHaLxHlbGXNmUl7%2F4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446150190", oauth_token="2359775539-t86oIVjlNDR4xi9fmS2j8LLW7oos7YeMAVmwCGV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 20:23:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f235b0953b59fab3e494a951a5ff4350
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1446151070'
      X-Response-Time:
      - '49'
      X-Transaction:
      - e0d4303625be3d7b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Oct 29 20:22:06 +0000 2015","id":659827571555700736,"id_str":"659827571555700736","text":"Social
        media intelligence startup @Brandwatch raises $33M Series B to grow in US
        https:\/\/t.co\/1RXcDU6koX","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":816653,"id_str":"816653","name":"TechCrunch","screen_name":"TechCrunch","location":"San
        Francisco, CA","description":"Breaking technology news, analysis, and opinions
        from TechCrunch. The number one guide for all things tech.","url":"http:\/\/t.co\/b5Oyx12qGG","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/b5Oyx12qGG","expanded_url":"http:\/\/techcrunch.com","display_url":"techcrunch.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":5843277,"friends_count":734,"listed_count":100784,"created_at":"Wed
        Mar 07 01:27:09 +0000 2007","favourites_count":888,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":112036,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"149500","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/621096023751004161\/BAKy7hCT.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/621096023751004161\/BAKy7hCT.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/615392662233808896\/EtxjSSKk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/615392662233808896\/EtxjSSKk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/816653\/1431096993","profile_link_color":"097000","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDFFCC","profile_text_color":"222222","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"Brandwatch","name":"Brandwatch","id":86107125,"id_str":"86107125","indices":[34,45]}],"urls":[{"url":"https:\/\/t.co\/1RXcDU6koX","expanded_url":"http:\/\/tcrn.ch\/1HdgPed","display_url":"tcrn.ch\/1HdgPed","indices":[81,104]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Thu
        Oct 29 20:21:39 +0000 2015","id":659827456526807040,"id_str":"659827456526807040","text":"#Boulder
        completes sale of ''certificates of participation'' for BCH site https:\/\/t.co\/2PQS65OaMe
        via @mitchellbyars","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_us[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="GpbRGkzwp9LdYwKhZ3xX1sBj4", oauth_nonce="c30b01fd73a4b0b5eb8afd81f20e1c5d",
        oauth_signature="TVdftzLqOGp0gubLzQnn5Ag%2BJao%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446150191", oauth_token="2359775539-t86oIVjlNDR4xi9fmS2j8LLW7oos7YeMAVmwCGV",
        [...]
