---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="GpbRGkzwp9LdYwKhZ3xX1sBj4", oauth_nonce="a118d7d866c14a486292a99b0618bd2e",
        oauth_signature="j%2FzLDxfwG4ncr2saOjqMlBOdREA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446152415", oauth_token="2359775539-t86oIVjlNDR4xi9fmS2j8LLW7oos7YeMAVmwCGV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 21:00:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f42c254a8d50c3f036132634236eb7d7
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1446153259'
      X-Response-Time:
      - '53'
      X-Transaction:
      - d0e33e6ac508bcc0
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":2359775539,"id_str":"2359775539","name":"Mimi Schatz","screen_name":"schatz_mc","location":"Boulder,
        CO","description":"Student @Turingschool","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":68,"friends_count":117,"listed_count":2,"created_at":"Mon
        Feb 24 16:51:28 +0000 2014","favourites_count":21,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":28,"lang":"en","status":{"created_at":"Mon
        Oct 26 14:51:16 +0000 2015","id":658657149464084481,"id_str":"658657149464084481","text":"Some
        people are so dramatic. Two coughs and you need to move seats bus mate? I
        should do this more often. \ud83d\ude37","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/438007942072115200\/xpOw9rvx_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/438007942072115200\/xpOw9rvx_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2359775539\/1393277309","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 29 Oct 2015 21:00:16 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="GpbRGkzwp9LdYwKhZ3xX1sBj4", oauth_nonce="42b09317ff229394044150ee85a75baa",
        oauth_signature="mPtdO7Y9Hq9G4vdPns1aic%2BzSwk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446152416", oauth_token="2359775539-t86oIVjlNDR4xi9fmS2j8LLW7oos7YeMAVmwCGV",
        oaut[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=test+tweet
    headers:
      Authorization:
      - OAuth oauth_consumer_key="GpbRGkzwp9LdYwKhZ3xX1sBj4", oauth_nonce="dff75159cdf360395152b4dd363d36e0",
        oauth_signature="6xYOZOw4%2F9F2XSsPjFIIbVRDc9g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446152416", oauth_token="2359775539-t86oIVjlNDR4xi9fmS2j8LLW7oos7YeMAVmwCGV",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 21:00:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 70281bd01bbba43ca6eec3600dc8deb0
      X-Response-Time:
      - '79'
      X-Transaction:
      - 22318ea1db8977e5
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Thu Oct 29 21:00:16 +0000 2015","id":659837177686130688,"id_str":"659837177686130688","text":"test
        tweet","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eChatterboxes
        Development\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2359775539,"id_str":"2359775539","name":"Mimi
        Schatz","screen_name":"schatz_mc","location":"Boulder, CO","description":"Student
        @Turingschool","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":68,"friends_count":117,"listed_count":2,"created_at":"Mon
        Feb 24 16:51:28 +0000 2014","favourites_count":21,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":29,"lang"[...]
[...]
