<br>
<div class="card card-block" id="tweet">
  <%= form_for :tweet, url: tweets_path do |f| %>
    <fieldset>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">New Tweet</label>
        <div class="col-lg-10">
          <textarea name="tweet" class="form-control control" rows="3"></textarea>
        </div>
          <%= f.submit "Tweet!", class: "btn btn-primary" %></span>
      </div>
    </fieldset>
  <% end %>
</div>