<section id="intro" class="intro-section">
  <div class="row col-md-12">
    <div class="col-md-5 col-xs-offset-1">
      <%= render partial: 'profile' %>
      <%= render partial: 'tweet' %>
    </div>
    <div class="col-md-4 col-xs-offset-1">
      <%= render partial: 'feed' %>
    </div>
  </div>
</section>