<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <% if current_user %>
          <h1><p>Hello, <%= link_to current_user.name, profile_path %></p></h1>
          <% else %>
              <h1>Welcome to ChatterBox. Let out your inner Chatty Cathy.</h1>
              <h1><%= link_to "Sign in with Twitter", login_path %></h1>
          <% end %>
      </div>
    </div>
  </div>
</section>